doctype html
head
    meta(charset='utf-8')
    title Bro app
    meta(content='Bro app', name='description')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(href='//fonts.googleapis.com/css?family=Montserrat:700,400' rel='stylesheet' type='text/css')
    link(href='css/bootstrap.min.css', rel='stylesheet')
    link(href='css/app.css', rel='stylesheet')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    script(src='js/scroll-up-bar.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js')
    script(src='js/app.js')
  body
    .container-fluid
      header
        ul.nav.nav-justified
          li.logo
            a(href='#') Spacepicnic
          li
            a(href='#') Our work
          li
            a(href='#') Why choose us
          li
            a(href='#') Our process
          li
            a.typeform-share.link(href="https://domas.typeform.com/to/Ditaxt" data-mode="1" target="_blank")
              | Hire us

      .landing
        .container
          .text-center
            h1 How about making something breathtaking?
            h3 rocking with rockstars perfectionists may be difficult
            button.btn.btn-default.call(type='button')
              | See our work

      .row
        .our-work.text-center
          h2 Our works

          img(src='img/pathoscope.png')
          img(src='img/example.png')
          p
            button.btn.btn-default.call(type='button')
              | Check out more

      .why-choose-us
        .abstract.row.text-center
          img(src='img/karuna.png')
          h2 We're not just designers

          p We're a full stack team who can build products from ground up.
          p We don't just design awesome shit, we build it too

        .members.row
          .member.container
            .col-md-offset-2.col-md-2
              img.avatar(src='img/avatar_domas.png')
            .info.col-md-6
              h3 Domas Bitvinskas
              p
                | Rockstar polyglot developer. Grinds with Ruby on Rails,
                | Angular.js, React.js and so on. Spends his days snowboarding
                | and dancing.

          .member.container
            .col-md-offset-2.col-md-2
              img.avatar(src='img/avatar_benas.png')
            .info.col-md-6
              h3 Benas Bitvinskas
              p
                | Wannabe hipster. Designer and Co-founder here in Spacepicnic.
                | Combines his majestic User Experience and Design skills to make
                | shit perfect.

      footer
        .container.text-center
          h2 Let's cut the shit and start changing the world together
          button.btn.btn-default.call(type='button')
            | Hire us
