$centered-content: 0 5em;

button {
  color: #fff;
}

html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Montserrat', sans-serif;
  color: #383838;
  height: 100%;
  width: 100%;
  position: relative;
}

header {
  position: fixed;
  top: 0px;
  padding: 2em 0;
  background-color: rgba(33, 37, 43, 0);
  z-index: 1;

  .nav-justified {
    text-transform: uppercase;
    text-align: center;
    color: #fff;

    li > a {
      color: #fff;
      background: transparent;

      &:hover, &:focus {
        color: #fff;
        text-decoration: underline;
        background: transparent;
      }
    }
  }
}

.container-fluid {
  margin: 0;
  padding: 0;
  border: 0;
  overflow-x: hidden;
}

#landing {
  height: 100vh;
  width: 100%;
  padding-top: 15em;
  background: #21262c url('../img/bg_1920.jpg') no-repeat fixed center;
  background-size: cover;
  background-position: center center;
  color: #fff;

  .scroll-down {
    padding-top: 15em;

    a {
      opacity: 0.15;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}

.call {
  margin: 3em 0;
  text-transform: uppercase;
  font-size: 1.3em;
  padding: 1em 2em;
  color: #11a9ba;
  border-color: #11a9ba;
  background: none;
}

.call:hover {
  background-color: #11a9ba;
  border-color: #11a9ba;
  color: #fff;
}

#our-work {
  margin: 0 auto;
  width: 700px;

  h2 {
    padding: 2em 0 1em;
  }

  .screens {
    border-bottom: 2px solid #dedfe0;

    img {
      margin-top: 2em;
      width: 550px;
      /* height: 500px; */
    }
  }

  .built-with {
    padding-top: 3.5em;
  }

  .more-works {
    a {
      margin-right: 1em;
    }
  }
}

.abstract {
  padding: 4em 0 3em;

  img {
    height: 250px;
  }

  h2 {
    color: #11a9ba;
  }

  p {
    font-size: 1.2em;
  }
}

#who-are-we {
  .abstract {
    padding: 4em 0 1em;
  }

  background-color: #dedfe0;

  .members {
    padding: 1em 0 3em;

    .member {
      padding: 2em 0 4em;

      h3 a {
        color: #11a9ba;
      }

      .avatar {
        width: 100%;
        border-radius: 99999px;
      }

      .open-source {
        h5 {
          font-weight: 600;
        }

        img {
          height: 50px;
        }
      }
    }
  }
}

#we-do-talks {
  .abstract {
    padding-bottom: 1em;
  }

  .main-talks {
    padding-bottom: 2em;
  }

  .talk-slides {
    img {
      height: 200px;
    }
  }

  .talk-descriptions {
    padding-bottom: 2em;

    a {
      color: #11a9ba;
    }
  }
}

#our-process {
  background-color: #dedfe0;
  padding-bottom: 5em;

  .abstract {
    padding-bottom: 1em;
  }

  img.process-illustration {
    height: 200px;
  }

  .process-description {
    padding-top: 3em;
  }

  .usual-process {
    padding-top: 2em;

    h3 {
      padding-bottom: .5em;
    }

    .step {
      padding-bottom: 1.5em;

      .bubble {
        padding-top: 1.5em;
      }
    }
  }
}

footer {
  padding: 5em 0 3em;
  background-color: #21262c;
  color: #fff;
}
