// Google fonts
@import url(http://fonts.googleapis.com/css?family=Varela+Round:400,300,600,700);

body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Varela Round', sans-serif;
  color: #383838;
  height: 100%;
  width: 100%;
  position: relative;
}

.intro_text {
  padding-top: 200px;
  text-align: left;

  h1 {
    font-size: 5em;
  }
}

.first {
  padding-top: 3em;
}

.second {
  margin-top: 3em;
}

header {
  padding: 2em 3em;
  z-index: 1;

  .logo {
    background: url('../img/1.png') no-repeat left center;
    background-size: contain;
    height: 3em;
  }

  .navigation {
    text-transform: uppercase;
    text-align: right;
    color: hsla(213, 14%, 15%, 1);

    a {
      color: hsla(213, 14%, 15%, 1);
      background: transparent;
      line-height: 3em;

      &:hover, &:focus {
        color: hsla(213, 14%, 15%, 1);
        text-decoration: underline;
        background: transparent;
      }
    }

    a.button-buy {
      border: 1px solid red;
    }
  }
}

.stlogo {
  padding-top: 1.5em;
}

.white {
  color: white;
}

.statistics {
  height: auto;
  background-color: #f5f5f5;
}

.walk {
   background: url("../img/bg.png") no-repeat center top;
   background-size: cover;
   height: 42em
}

.middle {
  padding-top: 10em;
}
.intro {
  padding-top: 10em;
}

.testimonials {
  padding-top: 10em;
  background-color: white;
  padding-bottom: 10em;

  img {
    height: 7em;
  }

  blockquote {
    border-left: none;
  }
}

.buy {
  padding-bottom: 10em;
}

.footer {
  background-color: #4d4c4c;
  color: #fff;
  padding: 5em 0 10em;
}

#buy {
  #mc_embed_signup {
  }
}
